# Python for Data Analysis Part 17: Dealing With Dates

In the last two lessons we learned a variety of methods to text character and numeric data, but many data sets also contain dates that don't fit nicely into either category. Common date formats contain numbers and sometimes text as well to specify months and days. Getting dates into a friendly format and extracting features of dates like month and year into new variables can be useful preprocessing steps.

For this lesson I've created some dummy date data in a few different formats. To read the data, copy the table of dates below and then use pd.read_clipboard() with the tab character as the separator and the index column set to 0:

In [68]:
import numpy as np
import pandas as pd

In [75]:
dates = pd.read_clipboard(sep="\t",         # Read data from clipboard
                          index_col=0)

In [70]:
dates # Check the dates

  month_day_year day_month_year                 date_time year_month_day
1      4/22/1996      22-Apr-96  Tue Aug 11 09:50:35 1996     2007-06-22
2      4/23/1996      23-Apr-96  Tue May 12 19:50:35 2016     2017-01-09
3      5/14/1996      14-May-96  Mon Oct 14 09:50:35 2017     1998-04-12
4      5/15/1996      15-May-96  Tue Jan 11 09:50:35 2018     2027-07-22
5      5/16/2001      16-May-01  Fri Mar 11 07:30:36 2019     1945-11-15
6      5/17/2002      17-May-02  Tue Aug 11 09:50:35 2020     1942-06-22
7      5/18/2003      18-May-03  Wed Dec 21 09:50:35 2021     1887-06-13
8      5/19/2004      19-May-04  Tue Jan 11 09:50:35 2022     1912-01-25
9      5/20/2005      20-May-05  Sun Jul 10 19:40:25 2023     2007-06-22

When you load data with Pandas, dates are typically loaded as strings by default. Let's check the type of data in each column:

In [76]:
for col in dates:
    print (type(dates[col][1]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

The output confirms that all the date data is currently in string form. To work with dates, we need to convert them from strings into a data format built for processing dates. The pandas library comes with a Timestamp data object for storing and working with dates. You can instuct pandas to automatically convert a date column in your data into Timestamps when you read your data by adding the "parse_dates" argument to the data reading function with a list of column indicies indicated the columns you wish to convert to Timestamps. Let's re-read the data with parse_dates turned on for each column:

In [85]:
dates = pd.read_clipboard(sep="\t", 
                          index_col=0,
                          parse_dates=[0,1,2,3]) # Convert cols to Timestamp

Now let's check the data types again:

In [86]:
for col in dates:
    print (type(dates[col][1]))

<class 'pandas.tslib.Timestamp'>
<class 'pandas.tslib.Timestamp'>
<class 'pandas.tslib.Timestamp'>
<class 'str'>

The output shows that 3 out of 4 of the date columns were successfully parsed and translated into Timestamps. The default date parser works on many common date formats, but dates can come in a lot different forms. If a date column is not converted to Timestamp by the default date parser, you can attempt to convert the column to Timestamp using the function pd.to_datetime(). Let's use it to convert column 3:

In [88]:
dates["year_month_day"] = pd.to_datetime(dates["year_month_day"] )

In [140]:
for col in dates:
    print (type(dates[col][1]))

<class 'pandas.tslib.Timestamp'>
<class 'pandas.tslib.Timestamp'>
<class 'pandas.tslib.Timestamp'>
<class 'pandas.tslib.Timestamp'>

If you have oddly formatted date time objects, you might have to specify the exact format to get it to convert correctly into a Timestamp. For instance, consider a date format that gives date times of the form hour:minute:second year-day-month:

In [120]:
odd_date = "12:30:15 2015-29-11"

The default to_datetime parser will fail to convert this date because it expects dates in the form year-month-day. In cases like this, specify the date's format to convert it to Timestamp:

In [123]:
pd.to_datetime(odd_date,
               format= "%H:%M:%S %Y-%d-%m")

Timestamp('2015-11-29 12:30:15')

As seen above, date formatting uses special formatting codes for each part of the date. For instance, %H represents hours and %Y represents the four digit year. View a list of formatting codes here.

Once you have your dates in the Timestamp format, you can extract a variety of properties like the year, month and day. Converting dates into several simpler features can make the data easier to analyze and use in predictive models. Access date properties from a Series of Timestamps with the syntax: Series.dt.property. To illustarte, let's extract some features from the first column of our date data and put them in a new DataFrame:

In [151]:
column_1 = dates.ix[:,0]

pd.DataFrame({"year": column_1.dt.year,
              "month": column_1.dt.month,
              "day": column_1.dt.day,
              "hour": column_1.dt.hour,
              "dayofyear": column_1.dt.dayofyear,
              "week": column_1.dt.week,
              "weekofyear": column_1.dt.weekofyear,
              "dayofweek": column_1.dt.dayofweek,
              "weekday": column_1.dt.weekday,
              "quarter": column_1.dt.quarter,
             })

,day,dayofweek,dayofyear,hour,month,quarter,week,weekday,weekofyear,year
1,22,0,113,0,4,2,17,0,17,1996
2,23,1,114,0,4,2,17,1,17,1996
3,14,1,135,0,5,2,20,1,20,1996
4,15,2,136,0,5,2,20,2,20,1996
5,16,2,136,0,5,2,20,2,20,2001
6,17,4,137,0,5,2,20,4,20,2002
7,18,6,138,0,5,2,20,6,20,2003
8,19,2,140,0,5,2,21,2,21,2004
9,20,4,140,0,5,2,20,4,20,2005

In addition to extracting date features, you can use th subtraction operator on Timestamp objects to determine the amount of time bewteen two different dates:

In [160]:
print(dates.ix[1,0])
print(dates.ix[3,0])
print(dates.ix[3,0]-dates.ix[1,0])

1996-04-22 00:00:00
1996-05-14 00:00:00
22 days 00:00:00

In addition the basics covered in this lesson, Pandas includes a vareity of more advanced date and time functionality, particularly for dealing time series data (data consisting of many periodic measurments over time.). Read more about date and time functionality here.

### Wrap Up

Pandas makes it easy to convert date data into the Timestamp data format and extract basic date features like day of the year, month and day of week. Simple date features can be powerful predictors because data often exhibit cyclical patterns over different time scales.

Cleaning and prepocessing numeric, character and date data is sometimes all you need to do before you start a project. In some cases, however, your data may be split across several tables such as different worksheets in an excel file or different tables in a database. In these cases, you might have combine two tables together before proceeding with your project. In the next lesson we'll explore how to merge and reshape data sets.

### Next Time: Python for Data Analysis Part 18: Merging and Reshaping Data