# Python for Data Analysis Part 20: Plotting with ggplot

Last lesson we took a whirlwind tour of the plotting functions that come with pandas. The plotting features built into pandas can take you a long way, but a dedicated graphics library can give you access to more advanacted plotting capabilities and nicer syntax. The ggplot library is a Python port of R's popular ggplot2 package that uses a concice, logical syntax for defining plots.

### ggplot Basics

The ggplot package is based on the principle that all plots consist of a few basic components: data, a coordinate system and a visual representation of the data. In ggplot, you built plots incrementally, starting with the data and coordinates you want to use and then specifying the graphical features: lines, points, bars, color, etc.

The ggplot's workhorse function is ggplot() which stands for grammar of graphics plot. Let's load the ggplot library and make some plots of the diamonds data set we looked at last time:

In [1]:
import numpy as np
import pandas as pd
from ggplot import *

In [ ]:
ggplot(aes(x="carat", y="price"),
      data=diamonds) + \
      geom_point()

In [12]:
for col in diamonds:
    print (col)
    print (type(diamonds[col][0]))

carat
<class 'numpy.float64'>
cut
<class 'str'>
color
<class 'str'>
clarity
<class 'str'>
depth
<class 'numpy.float64'>
table
<class 'numpy.float64'>
price
<class 'numpy.int64'>
x
<class 'numpy.float64'>
y
<class 'numpy.float64'>
z
<class 'numpy.float64'>

In [11]:
diamonds.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

###

###

###

###